body {
    font: 100%/1.6 Verdana, Arial, Helvetica, sans-serif;
}

fieldset {
    border: none;
    margin: 0;
    margin-bottom: 10pt;
    padding: 0;
    padding-left: 8pt;
    border-left: 1px solid lightgray;
}

textarea {
    width: 100%;
}

form div + div {
    margin-top: 10pt;
}

br:last-child {
    display: none;
}

.submit {
    position: fixed;
    bottom: 8pt;
    left: 50%;
    transform: translate(-50%);
    z-index: 50;
}

.answersubmit {
    position: initial;
    transform: initial;
}

.result {
    position: fixed;
    top: 8pt;
    left: 50%;
    transform: translate(-50%);
    padding: 5pt;
    transition-property: opacity;
    transition-duration: 1s;
}

.hidden {
    display: none;
}

.success {
    background-color: #99EE99;
    border: 2pt solid #44CC44;
}

.error {
    background-color: #EE9999;
    border: 2pt solid #CC4444;
}

#resultlink {
    float: right;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: url(images/button-background-repeater.gif);
    background-position: left;
    background-repeat: repeat-x;
    color: white;
    text-decoration: none;
    padding: 3pt 7pt;
    border: 1px solid lightgray;
}
